body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#id1 { background-color: yellow}

a {
  color: #00B7FF;
}

#productEditWindow {


	background-color: red;
	
	position: fixed;
	
	//top: 10%;
	//left: 10%;
	top: 20px;
	left: 20px;
	
	
	
	width: 80%;
	//width: 100px;
	
	height: 90%;
	//width: 100px;





}
